/* card specifics */

.hsimg {
       width:120px;
}

.card {
	   width:75px;
      margin:-0.2em;
}

.hsimg:hover {
       cursor:pointer;
}

.card_Spell {
        font-weight:bold;
}

.rarity_Common:hover {
        background-color: #B5AFB4;
}

.rarity_Rare:hover {
        background-color: #2A2FE8;
}

.rarity_Epic:hover {
        background-color: #891CFF;
}

.rarity_Legendary:hover {
        background-color: #ff8000;
}

/* links */

a{
	color: #5E5E5E;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color:black;
}

/* page layout */

html,body {
    height:100%;
    weight:100%;
    margin:0;
    padding:0;
}

body {
	background-color:#FFF;
	font-family:sans-serif;
	text-align:center;
}

#wrap{
	padding:20px;
	background-color:#A8E5FF;
	width:40%;
	float:right;
	border-left:5px solid #006089;
	margin-left:auto;
    min-height:100%;
    overflow:hidden;
    
}

.outcome{
	padding:2px;
	margin:2px;
	margin-top:10px;
}

.panel, .chart{
	padding:8px;
	background-color:#FFF;
	border:2px solid #006089;
	margin:10px;
}

.container{
	width:40%;
    float:left;
}

.chart{
	margin-bottom:15px;
}

#thanks{
	padding-top:5px;
	font-size:90%;
}

.biggie{
	font-size:250%;
	margin-bottom:2px;
}

.smaller{
	padding-top:20px;
	font-size:75%;
}

#legal{
	padding-top:5px;
	font-style:italic;
	font-size:50%;
}

/* headings */

heading{
	font-weight:bold;
	font-size:150%;
}

/* tables */

table{
	margin:auto;
	width:75%;
	margin-top:15px;
	margin-bottom:15px;
	border:2px solid #92753D;
	background-color:#F6F6E2;
}

th{
	border-bottom:2px solid #92753D;
	background-color:#E2D5C1;
}

td,th{
	padding:5px;
	font-size:80%;
}

/* lists */

ol{
	text-align:left;
	padding:0;
	margin-left:12px;
	margin-right:12px;
	list-style-position:inside;
}

/* forms */

.mgform{
	margin:auto;
	width:400px;
	font-size:75%;
}

.mgformitem{
	margin-top:5px;
	margin-bottom:5px;
}

.mgform button {
	float:right;
}

.mgforminline {
	margin-left:2em;
	margin-right:2em;
}

.popupbutton {
	background-color:#006089;
	padding:0.45em;
	color:white;
	cursor:pointer;
}

.popupbutton:hover {
    background-color:#000;
}

/* floats */

#clear {
    float:clear;
}

/* popups */

.popup {
   position: fixed;
   top: 40%; left: 40%;
   width: 400px; height: auto;
   padding: 0 25px 25px 25px;
   background: #fff;
   border: 5px solid #006089;
   border-radius: 4px;
   font-family: Helvetica, Arial, "Liberation Sans", sans-serif;
   font-size: 1.0em;
   color: black;
}

.popup #pspan {
   margin-bottom:10px;
   text-align: center;
}

.popup label {
   margin-right: 5px;
   float: left;
}

.popup input {
   float: right;
   margin-bottom:20px;
}

.popup button {
   font-size:100%;   
}

.popup h3 {
   font-size: 1.5em;
   text-align:center;
}

.popup hr {
   display:block;
   height:1px;
   border:0;
   border-top: 1px solid #006089;
   margin-top:1.75em;
   padding:0;
}

.popup .pdesc {
   padding:0.9em;
}

.popup .poption {
   margin:0.75em auto 0.75em auto;
   width:25%;
}

/* tooltips */

.tooltip {
   position: absolute;
   width: 10em;
   height: auto;
   padding: 0 10px 10px 10px;
   background: #333;
   border: 0px;
   border-radius: 8px;
   pointer-events: none;
   font-family: "Open Sans", Helvetica, Arial, "Liberation Sans", sans-serif;
   font-size:0.8em;
   color: white;
}

.tooltip .cardCost {
  position:absolute;
  background-image:url('../img/mana.png');
  background-repeat:no-repeat;
  background-position:center center;
  background-size: 25px 25px;
  text-align:center;
  padding:0;
  margin:0;
  line-height:25px;
  width:25px;
  top:-10px;
  left:-10px;
  font-weight:bold;
}

.tooltip .cardAttack {
  position:absolute;
  background-image:url('../img/attack.png');
  background-repeat:no-repeat;
  background-position:left top;
  background-size: 26px 30px;
  text-align:center;
  padding:0;
  margin:0;
  line-height:35px;
  width:30px;
  bottom:-10px;
  left:-10px;
  font-weight:bold;
  color:black;
}

.tooltip .cardDef {
  position:absolute;
  background-image:url('../img/hp.png');
  background-repeat:no-repeat;
  background-position:left top;
  background-size: 20px 28px;
  text-align:center;
  padding:0;
  margin:0;
  line-height:32px;
  width:20px;
  bottom:-10px;
  right:-10px;
  font-weight:bold;
}

.tooltip h3 {
   font-weight:bold;
   text-align:center;
}

/* --- OLD WRAP ---
#wrap{
	background-color:#E2D5C1;
	width:425px;
	padding:10px;
	border:5px solid #D4C098;
	margin:auto;
}
  --- OLD WRAP --- */