<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

		<title>HearthstoneDrafter: An Open-Source Arena Drafter for Hearthstone</title>

		<meta name="author" content="Alex Safatli" />
		<meta name="description" content="Hearthstone Arena Drafting Webapp" />
		
		<script type="text/javascript" src="js/jquery-1.6.3.min.js"></script>
		<script type="text/javascript" src="js/scripts.js"></script>

 		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- 		<link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)" />
		<link href="css/mobile.css" rel="stylesheet" type="text/css" media="handheld" />-->

	</head>

	<body>
	
		{% if draft %}
		<div class="container">
			{% for card in draft.getSortedCards() %}
			<img class="card hsimgsmall" id="card_{{ card.getID() }}" src="{{ card.getImgLink() }}" alt="{{ card.getPlainStr() }}" />
			{% endfor %}
		</div>
		{% endif %}
	
		<div id="wrap">
		
			<form class="mgform">
				<div class="mgformitem">
					<button type="submit">Draft for</button>
					<select name="hero">
					        <option value="random" selected>Random</option>
					{% for hero in classes %}
						<option value="{{ hero }}">{{ hero }}</option>
					{% endfor %}
					</select>
				</div>
			</form>
		
			{% if draft %}
			<div class="outcome">
			
				<div class="panel">
					<p class="biggie">{{ hero.getName() }}</p> 
					<p class="smaller">
						with <em>{{ draft.getNumLegendaries() }}</em> legendary cards 
					</p>			
				</div>
			
				<div class="panel" id="draft">
					<h3>Choose a card:</h3>
					{% for set in draft.getSets() %}
					<p {% if draft.index(set) == 0 %}id="draftshow"{% endif %} class="cards"><img id="card_draft_{{ set[0].getID() }}" class="hsimg rarity_img_{{ set[0].rarity }}" src="{{ set[0].getImgLink() }}" alt="{{ set[0].getPlainStr() }}" /> <img id="card_draft_{{ set[1].getID() }}" class="hsimg rarity_img_{{ set[1].rarity }}" src="{{ set[1].getImgLink() }}" alt="{{ set[1].getPlainStr() }}" /> <img id="card_draft_{{ set[2].getID() }}" class="hsimg rarity_img_{{ set[2].rarity }}" src="{{ set[2].getImgLink() }}" alt="{{ set[2].getPlainStr() }}" /></p>
					{% endfor %}
				</div>
				
			</div>
			{% endif %}

			<div id="fineprint">
			
				<div id="thanks">
				        <p>Version Alpha({{ version }})</p>
					<p>You are using this app? Drop by to say thank you to <a href="https://plus.google.com/u/0/106697676547517787361/posts" target="_blank">+Alex Safatli</a>.</p>
				</div>
	
				<div id="legal">			
				  This app is in no way associated with or endorsed by Blizzard Entertainment&reg; Blizzard Entertainment&reg;, Hearthstone&reg;, and associated terms are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the US and/or other countries. All rights reserved.
				</div>

			</div>
			
		</div>
	
        <div id="clear"></div>
    
	</body>

</html>
