<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

	<head>

		<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />

		<title>HearthstoneDrafter: An Open-Source Arena Drafter for Hearthstone</title>

		<meta name="author" content="Alex Safatli" />
		<meta name="description" content="Hearthstone Arena Drafting Webapp" />
		
		<script type="text/javascript" src="js/jquery-1.6.3.min.js"></script>
       <script type="text/javascript" src="js/jquery.heatcolor.0.0.1.pack.js"></script>
       <script type="text/javascript" src="js/Chart.min.js"></script>
       <script type="text/javascript" src="js/scripts.js"></script>
		

 		<link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
<!-- 		<link href="css/mobile.css" rel="stylesheet" type="text/css" media="only screen and (max-device-width:480px)" />
		<link href="css/mobile.css" rel="stylesheet" type="text/css" media="handheld" />-->

	</head>

	<body>
	
		{% if draft %}
		<div id="card_collection" class="container">
			{% for card in draft.getSortedCards() %}
			<img class="card" id="card_{{ card.getUniqueID() }}" src="{{ card.getImgLink() }}" alt="{{ card.getPlainStr() }}" data-cardcost="{{ card.getCost() }}" />
			{% endfor %}
		</div>
		{% endif %}
	
		<div id="wrap">
		
			<form class="mgform">
				<div class="mgformitem">
					<span class="mgforminline">
						<strong>Class</strong>
						<select name="hero">
							<option value="random" selected>Random</option>
						{% for hero in classes %}
							<option value="{{ hero }}">{{ hero }}</option>
						{% endfor %}
						</select>
					</span>
					<span class="mgforminline">
						<strong>Mode</strong> <span id="arenabutton" class="popupbutton">{{ mode.getDefaultMode().name }}</span>
					</span>
					<button type="submit">Draft</button>
					<input id="mgmode" type="hidden" name="mode" value="{{ mode.getDefaultMode().key }}" />
					<input id="mgopt" type="hidden" name="option" value="" /> 				
				</div>
			</form>
		
			{% if draft %}
			<div class="outcome">
			
				<div class="panel">
					<p class="biggie">{{ hero.getName() }}</p>
					<p class="smaller">using game mode <strong>{{ mode.getCurrentMode().name }}</strong></p>
					<canvas id="manacurve" width="130" height="130"></canvas>				
				</div>
			
				<div class="panel" id="draft">
					<h3>Choose a card (<span id="draftcounter">1</span>/{{ draft.size() }}):</h3>
					{% for set in draft.getSets() %}
					<p {% if draft.index(set) == 0 %}id="draftshow"{% endif %} class="cards">
						{% for card in set %}
						<img id="card_draft_{{ card.getUniqueID() }}"  class="hsimg rarity_{{ card.rarity }}" src="{{ card.getImgLink() }}" alt="{{ card.getPlainStr() }}" data-cardname="{{ card.getName() }}" data-cardcost="{{ card.getCost() }}" data-cardfaction="{{ card.getFaction() }}" data-cardtext="{{ card.getText() }}" data-cardatk="{{ card.getAttack() }}" data-carddef="{{ card.getDefense() }}"  />
						{% endfor %}
					{% endfor %}
				</div>
				
			</div>
			{% endif %}

			<div id="fineprint">
			
				<div id="thanks">
				        <p>Version Alpha({{ version }})</p>
					<p>Do you find this webapp useful? Thank the author <a href="http://twitter.com/asafatli" target="_blank">Alex Safatli</a>.</p>
					<p>This application is <a href="http://github.com/AlexSafatli/HearthstoneDrafter">open-source</a>.</p>
				</div>
	
				<div id="legal">			
				  This app is in no way associated with or endorsed by Blizzard Entertainment&reg; Blizzard Entertainment&reg;, Hearthstone&reg;, and associated terms are trademarks or registered trademarks of Blizzard Entertainment, Inc. in the US and/or other countries. All rights reserved.
				</div>

			</div>
			
		</div>
	
        <div id="clear"></div>
	<div class="popup" style="display: none; z-index: 3; position: absolute;">
		<div id="pspan">
			<h3>Game Mode</h3>
			{% for m in mode.getModes() %}
				<span id="{{ m.key }}" class="pmode popupbutton">{{ m.name }}</span>
			{% endfor %}
			<hr />
			<div class="pdesc" id="default_desc">Choose a <strong>game mode</strong> by selecting one above.</div>
			{% for m in mode.getModes() %}
				<div id="{{ m.key }}_desc" class="pdesc" style="display:none;">{{ m.description }}
				{% if m.options %}
				  {% for option in m.options %}
				    <div id="{{ option }}" class="popupbutton poption {{ m.key }}_opt">{{ option }}</div>
				  {% endfor %}
				{% endif %}
				</div>
			{% endfor %}			
			<button>Select</button>
			<p id="phelp"></div>
		</div>
	</div>   
	<div class="tooltip" style="display: none;"></div>
    
	</body>

</html>
